.banzuke-row {
    width: 45rem;
    height: 7rem;
    border: 1px solid black;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    background: #f8f6ea;
}

.sanyaku {
    background: #ffffb0;
}

.rank {
    grid-column: 8 / 10;
}

div.banzuke-row div.wrestler {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 4;
}

div.banzuke div.banzuke-row div.wrestler.west {
    grid-column: span 7;
    border-right: 1px solid black;
}

div.banzuke div.banzuke-row div.wrestler.east {
    grid-column: span 7;
    border-left: 1px solid black;
}

div.wrestler.west img.sumo_icon {
    border-radius: 50%;
    grid-area: 1 / 2 / 2 / 3;
    margin-top: 1rem;
}

div.wrestler.east img.sumo_icon {
    border-radius: 50%;
    grid-area: 1 / 7 / 2 / 8;
    margin-top: 1rem;
}

div.wrestler.west p {
    margin: 0;
    grid-column: 1 / span 3;
    text-align: center;
}

div.wrestler.east p {
    margin: 0;
    grid-column: 6 / span 3;
    text-align: center;
}

div.wrestler.west div.wrestler_info {
    grid-area: 1 / 4 / 3 / 9;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 4;
    align-content: center;
}

div.wrestler.east div.wrestler_info {
    grid-area: 1 / 6 / 3 / 1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 4;
    align-content: center;
}

div.banzuke-row div.wrestler.west div.wrestler_info h3, div.banzuke-row div.wrestler.east div.wrestler_info h3 {
    grid-column: span 2;
}

div.rank h2 {
    margin: 0;
    text-align: center;
    font-size: 2rem;
}

div.rank h3 {
    margin: 0;
    text-align: center;
    font-size: 2rem;
}