.team {
    position: cetner;
    width: 14rem;
    height: 29rem;
    border: 1px solid black;
    border-radius: 15px;
    /* margin-left: 45%;
    margin-right: 45%; */
    margin-top: 5rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(17, 1fr);
    background: white;
}

div.team div.icon {
    grid-column: 2 / span 2;
    grid-row: 1 / span 4;
    border-radius: 50%;
    z-index:10;
    background: white;
}

img {
    border-radius: 50%;
}

div.team div.wrestlers { 
    grid-column: 1 / span 5;
    grid-row: 5 / span 13;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(36, 1fr);
}

div.team div.wrestlers div.wrestler {
    grid-column: 1 / span 5;
    grid-row: span 6;
    background: white;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    border-bottom: 1px solid black;
}

div.team div.wrestlers div.wrestler:first-child {
    border-top: 1px solid black;
}

div.team div.wrestlers div.wrestler:last-child {
    border-radius: 0px 0px 15px 15px;
}

div.wrestler img {
    grid-column: 1 / span 1;
}

div.wrestler p {
    text-align: center;
    grid-column: 2 / span 3;
}