body {
    height: 100%;
    width: 100%;
    margin: 0;
    background: grey;
    position: absolute;
    box-sizing: border-box;
}

.matchlist {
    position: center;
    width: 50rem;
    height: 100%;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 5rem;
}

.selections {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 0.5em;
}

.select {
    width: 15rem;
    display: inline;
}

[name=tournaments] {
    z-index:20;
}

[name=days] {
    z-index: 20;
}