.App {
  text-align: center;
  background-color: "grey";
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  background: #d1b6d6;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  position: absolute;
  box-sizing: border-box;
}
body #root {
  height: 100%;
}
body #root .page-container {
  position: relative;
  width: 100%;
  height: 100%;
  display: grid;
  perspective: 1000px;
  justify-content: center;
  gap: 1.5rem;
  /* grid-auto-columns: 1fr; */
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
body #root .page-container .card-container {
  height: 490px;
  margin: 0;
  padding: 0;
  top: 20px;
  width: 290px;
  /* margin: 1.5rem; */
  margin-left: 1.5rem;
  margin-top: 1.5rem;
  /* margin-right: 50px; */
  /* grid-template-columns: 3; */
  /* position: relative; */
  transform-style: preserve-3d;
  box-sizing: border-box;
  /* overflow: auto; */
}
body #root .page-container .card-container.flipped .front {
  transform: rotateY(180deg);
}
body #root .page-container .card-container.flipped .back {
  transform: rotateY(0deg);
}
body #root .page-container .card-container .front, body #root .page-container .card-container .back {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  display: block;
  background: #f8f6ea;
  box-shadow: 10px 10px 5px #5f4d63;
  padding: 10px;
  position: absolute;
  border-radius: 10px;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  transition: -webkit-transform ease 500ms;
  transition: transform ease 500ms;
}
body #root .page-container .card-container .front {
  z-index: 2;
  transform: rotateY(0deg);
 /* front tile styles go here! */
}
body #root .page-container .card-container .back {
  background: #f8f6ea;
  transform: rotateY(-180deg);
  padding: 20px;
  font-size: 20px;
 /* back tile styles go here! */
}
body #root .page-container .card-container .image-container {
  position: relative;
}
body #root .page-container .card-container .image-container .card-image {
  width: 100%;
  border-radius: 10px;
}
body #root .page-container .card-container .image-container .title {
  font-size: 34px;
  position: absolute;
  margin-bottom: 10px;
  margin-left: 10px;
  bottom: 0;
  left: 0;
  color: #f8f6ea;
}
body #root .page-container .card-container .main-area {
  margin-left: 10px;
  margin-top: 10px;
  margin-right: 10px;
}
body #root .page-container .card-container .main-area .blog-post {
  height: 100%;
}
body #root .page-container .card-container .main-area .blog-post .date {
  margin-top: 10px;
  margin-bottom: 5px;
  font-size: 20px;
}
body #root .page-container .card-container .main-area .blog-post .read-more {
  font-size: 20px;
  position: relative;
  bottom: 0px;
  text-align: right;
}
body #root .page-container .card-container .main-area .blog-post .blog-content {
  height: 90%;
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
body #root footer {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 20px;
}
